<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <error-page>  
    <exception-type>java.lang.Exception</exception-type>  
    <location>/WEB-INF/genericErrorPage.jsp</location>
  </error-page>
  
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/genericErrorPage.jsp</location>  
  </error-page>
</web-app>
