<web-app>
  <display-name>Archetype Created Web Application</display-name>
<!--
  <error-page>  
    <exception-type>java.lang.Exception</exception-type>  
    <location>/WEB-INF/genericErrorPage.jsp</location>
  </error-page>
-->
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/genericErrorPage.jsp</location>  
  </error-page>
  
  <servlet>
		<servlet-name>jersey-servlet</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer
		</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.worker.services</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey-servlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
  
  
  
</web-app>
